# Python
*.pyc
*.pyo
__pycache__/
*.pyd
.Python

# Virtual Environment
venv/
.env/

# PyCharm
.idea/

# SQLite Database
db.sqlite

# Logs
*.log

# Unit test / coverage reports
*.coverage
*.coverage.*
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl

# Python wheels
*.whl

# VS Code
.vscode/
